.change-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 100%;
    height: 63.4vh;
}
.change-password-container .auth-form:nth-child(1) {
    margin-top: -100px;
}
.change-password-container .auth-container {
    width: 90%;
}
.change-password-container .auth-container{
    position: relative;
    border-radius: 0px;
    padding: 0;
    box-shadow: none;
}
